language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t burakunuvar/sample-app -f Dockerfile.dev .

script:
  #   - docker run buraku/sample-app npm run test -- --coverage
  - docker run -e CI=true burakunuvar/sample-app npm test
deploy:
  provider: elasticbeanstalk
  region: "eu-west-1"
  app: "cicd-with-travis"
  env: "Cicdwithtravis-env"
  bucket_name: "elasticbeanstalk-eu-west-1-388521517294"
  bucket_path: "aws-cicd-with-travis"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
